.sequencer {
  display: flex;
  flex-flow: column wrap;
  // align-items: center;
  margin: 0 0.5rem;
  & > * {
    // padding: 0 0.5rem;
  }
}

.sequence {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
