@import 'global-styles/variables';
@import 'global-styles/mixins';

.sequencer {
  display: flex;
  flex-flow: column wrap;
  // align-items: center;
  margin: 0 0.5rem;
  & > * {
    // padding: 0 0.5rem;
  }
}

.sequence {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.noteTile {
  @include tiles;
  padding: 0.75rem;
  // height: fit-content;
  transform: rotate(270deg);
  color: $primary;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}
