@import '../../global-styles/variables';

.sequencer {
  display: flex;
  flex-flow: column wrap;
  // align-items: center;
  margin: 0 0.5rem;
  & > * {
    // padding: 0 0.5rem;
  }
}

.sequence {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.noteTile {
  width: 2rem;
  padding: 0.25rem;
  height: fit-content;
  background-color: $secondary;
  border-radius: 5px;
  transform: rotate(270deg);
  color: $primary;
  font-family: 'Montserrat';
  font-weight: 600;
  border: 1px solid $primary;
}
