@import '@styles/variables';
@import '@styles/mixins';

.container {
  max-height: 20px;
  max-width: 27%;
  font-size: 0.75rem;
  background-color: rgba($secondary, 0.5);
  margin: 0.25rem;
  border-radius: 5px;
  padding: 0.25rem;
  transition: all 0.25s ease;
  flex: 0 0 33%;

  &:hover {
    cursor: pointer;
    transform: scale(0.975);
  }
}

.name {
  user-select: none;
  overflow: hidden;
  color: $text;
  white-space: nowrap;
  text-overflow: ellipsis;
}
