@import '@styles/variables';
@import '@styles/svg';

.effect {
  margin: 0.5rem 0;
  transition: all 0.25s ease;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: $text;
  user-select: none;
  font-weight: 400;
  text-transform: uppercase;
  & > * {
    margin: 0 0.25rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.svg {
  @include svg;
  align-self: center;
  position: absolute;
  left: 45%;
}

.activeTitle {
  color: $highlights;
}
