@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/svg';

.container {
  @include clamp;
  grid-area: instrument-panel;

  flex-flow: row nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;

  & > * {
    flex: 1;
  }
}

.emptyContainer {
  @include panel-border;
  @include clamp;
  grid-area: instrument-panel;
  flex-flow: row nowrap;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0 1rem;
}

.svg {
  @include svg;
  top: 45%;
}

.arrow {
  position: absolute;
  top: 45%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.title {
  color: $text;
}
