@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/svg';

.container {
  min-height: 20vh;
  max-height: 20vh;
  flex-flow: row nowrap;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 1rem;

  & > * {
    flex: 1;
    margin: 0 1rem;
  }
}

.emptyContainer {
  @include panel-border;
  min-height: 20vh;
  max-height: 20vh;
  flex-flow: row nowrap;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 95%;
  margin: 0 2rem 1rem 2rem;
}

.svg {
  @include svg;
  top: 45%;
}

.arrow {
  position: absolute;
  // box-shadow: 0px 4px 10px 10px #222430;
  top: 45%;
  border-radius: 5px;
  // height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.title {
  color: $text;
}
