@mixin panel-title {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  text-transform: uppercase;
  color: $primary;
  font-family: 'Montserrat';
}
