@mixin panel-title {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  text-transform: uppercase;
  color: $primary;
  font-family: 'Montserrat';
}

@mixin panel-style {
  // border: 1px solid $secondary;
  border-radius: 7px;
  user-select: none;
  background-color: $primary;
}

@mixin main-panels {
  @include panel-style;
  height: 15vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
  & > * {
    width: 200px;
    max-width: 220px;
  }
}

@mixin main-panel-title {
  @include panel-title;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  & > * {
    // margin-top: 2vh;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    transform: rotate(270deg);
  }
}

@mixin library-items {
  width: fit-content;
  max-height: 20px;
  max-width: 27%;
  font-size: 0.75rem;
  background-color: $secondary;
  margin: 0.25rem;
  border-radius: 10px;
  padding: 0.25rem;
  transition: all 0.25s ease;
  flex: 0 0 33%;

  &:hover {
    cursor: pointer;
    transform: scale(0.975);
  }
}

@mixin tiles {
  background: rgba($secondary, 0.5);
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid $primary;
  border-radius: 5px;
}

@mixin panel-border {
  // border: 1px solid $secondary;
  box-shadow: 0px 0px 2px 0px $secondary;
  box-shadow: 0px 0px 2px 0px #53566480;
  // color: #53566480;
  border-radius: 2px;
}
