/* COLOR SCHEME */
// $primary: #31353c;
// $secondary: rgb(89, 94, 106);
// $highlights: #f5ffb7;
//#f1ecbd
// $text: rgb(89, 94, 106);

$primary: #282a36;
$secondary: rgb(83, 86, 100);
$highlights: rgb(245, 255, 183);
$text: rgb(170, 170, 170);
$bg: #282a36;

/* FONT STYLES*/
$base-size: 1rem;
$type-scale: 1.33;
$h-3: calc(#{$base-size} * #{$type-scale});
$h-2: calc(#{$h-3} * #{$type-scale});
$h-1: calc(#{$h-2} * #{$type-scale});
$text-sm: calc(#{$base-size} / #{$type-scale});
$header-margin: 0 0 1rem 2rem;
