@import '@styles/variables';

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  & > * {
    width: 40px;
  }
}

.label {
  color: $text;
  &:not(:first-child) {
    margin-top: 1rem;
    // margin-left: 1rem;
  }
}
