@import 'global-styles/variables';
@import 'global-styles/mixins';

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  margin: 0.5rem;

  border-radius: 5px;
  padding: 0.25rem 0;
  max-height: 5vh;
  min-width: 20vw;
  max-width: 20vw;
  color: $highlights;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Montserrat';
}

.noteSeparator {
  width: 2.5rem;
  padding: 0.25rem;
}

.sequence {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tile {
  @include tiles;
  color: $primary;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.active {
  background: $highlights;
}
