@import '@styles/variables';

.select {
  font-size: $base-size;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  width: fit-content;
  text-overflow: ellipsis;
  color: $text;
  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}
