@import '@styles/variables';
@import '@styles/mixins';

.container {
  @include panel-border;
  @include clamp;
  grid-area: master-panel;
  user-select: none;
  height: 15vh;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  & > * {
    width: 200px;
    max-width: 220px;
  }

  // box-shadow: 0px 0px 10px 5px #222430;
}

.transportButton {
  margin-bottom: 1rem;
  & > * {
    //TODO - this css should belong to icons only
    width: 25px;
    height: 25px;
  }
}

.panelTitle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: fit-content;
  & > * {
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    color: $text;
  }
}
