@import '@styles/variables';
@import '@styles/mixins';

.container {
  @include main-panels;
}

.transportButton {
  margin-bottom: 1rem;
  & > * {
    //TODO - this css should belong to icons only
    width: 25px;
    height: 25px;
  }
}

.panelTitle {
  @include panel-title;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  & > * {
    // margin-top: 2vh;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    transform: rotate(270deg);
  }
}
