.container {
  margin-left: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  height: 100%;
  & > * {
    // flex: 1;
    // margin: 0 2rem;
    width: 200px;
    max-width: 220px;
  }
}

.masterPanel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 1rem 0;
  }
}

.transportButton {
  margin-bottom: 1rem;
  & > * {
    //TODO - this css should belong to icons only
    width: 25px;
    height: 25px;
  }
}
