@import '@styles/variables';
@import '@styles/mixins';

.instruments {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.title {
  color: $text;
}

.playground {
  @include panel-border;
  display: flex;
  flex-flow: row nowrap;
  width: 95%;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 2rem;
  padding: 1rem 2rem 0 2rem;
  height: 100%;
  overflow: scroll;
}

.playgroundSub {
  display: flex;
  flex-flow: column nowrap;
}
