@import '@styles/variables';
@import '@styles/mixins';

.instruments {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.title {
  color: $text;
}

.playground {
  @include panel-border;
  @include clamp;
  grid-area: playground;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playgroundSub {
  display: flex;
  flex-flow: column nowrap;
}
