@import '@styles/variables';
@import '@styles/mixins';

.container {
  @include library-items;
  padding: 0.25rem 0rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $primary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active {
  background-color: $highlights;
}
