@import '@styles/variables';
@import '@styles/mixins';

.instrument {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem;
}

.panel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary;
  border-radius: 5px;
  max-height: 35px;
  min-width: 20vw;
  max-width: 20vw;
  position: relative;
  // overflow: hidden;
  transition: all 0.5s ease;

  & > * {
    font-family: 'Montserrat';
    // font-size: $base-size;
    margin: 0 0.5rem;
    color: $text;
    text-transform: capitalize;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($secondary, 0.5);
  }
}

.activePanel {
  border: 1px solid $highlights;
}

.fxButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25px;
  margin: 0;
  background-color: $secondary;
  color: $primary;
  text-align: center;
  padding: 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  user-select: none;
  font-weight: 600;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.muteButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  user-select: none;
  width: 30px;
  margin-right: 25px;
  background-color: $secondary;
  color: $primary;
  text-align: center;
  padding: 0 0.4rem;
  border-right: 2px solid $primary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 600;
  // z-index: -1;
}

.activeButton {
  background-color: $highlights;
}

.delete {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  transition: all 0.25s ease;

  text-align: center;
  padding: 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-size: 0.8rem;

  font-weight: 600;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.closePanel {
  color: $text;
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 0.25rem;
  transition: all 0.25s ease;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 2;
  font-size: 0.8rem;
  user-select: none;

  font-weight: 600;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.effectsPanel {
  position: relative;
  height: 5vh;
}

.instrumentContainer {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  transform-origin: center top;
  position: absolute;
  top: 35px;
  width: 100%;
  right: -2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba($secondary, 0.25);
  backdrop-filter: blur(3px);
  padding: 0.5rem 1rem;
  z-index: 1;
  transition: all 0.25s ease;
  animation: grow 0.5s;
}

.menuOption {
  margin: 0.25rem 0;
  color: $text;
  border-bottom: 1px solid rgba($text, 0.5);
  user-select: none;
}

.menuOptionName {
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.svg {
  stroke: $primary;
  stroke-width: 20;
  width: 25px;
  height: 25px;
}
