@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/svg';

.container {
  @include main-panels;
}

.panel {
  box-shadow: inset 0px 4px 22px 14px #222430;
  height: 25vh;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin-bottom: 2rem;
  & > * {
    flex: 1;
    padding: 1rem;
  }
}

.panelTitle {
  @include main-panel-title;
}

.svg {
  @include svg;
  position: absolute;
  top: 45%;
}

.title {
  color: $text;
}
