@import '../../../global-styles/variables';

.subPanelContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 2rem;
  color: $text;
  font-family: 'Montserrat';
  & > * {
    margin: 0.25rem;
  }
}
