@import 'global-styles/variables';

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 100%;
  & > * {
    flex: 1;
    margin: 0 2rem;
    width: 100%;
  }
}

.svg {
  position: absolute;
  opacity: 0.75;
  top: 45%;
  width: 20px;
  height: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-width: 10;
  transition: all 0.25s ease;
  &:hover {
    cursor: pointer;
  }
}

.title {
  color: $text;
}
