@import '@styles/variables';

.container {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  padding: 2.5rem;
}

.panel {
  height: 25vh;
  position: relative;
  border: 1px solid $secondary;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin-bottom: 2rem;
  & > * {
    flex: 1;
    padding: 1rem;
  }
}

.masterPanel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  & > * {
    padding: 0.5rem 0;
  }
}

.instrumentsPanel {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.transportButton {
  & > * {
    //TODO - this css should belong to icons only
    width: 25px;
    height: 25px;
  }
}

.panelTitle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  text-transform: uppercase;

  color: $primary;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Montserrat';
  & > * {
    // margin-top: 2vh;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    transform: rotate(270deg);
  }
}

.instruments {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow: scroll;
}
