@import '@styles/variables';
@import '@styles/mixins';

$container-width: 100vw;
$library-width: 20vw;
$panels-width: calc(#{$container-width} - #{$library-width});

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  // position: relative;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: 'selection-panel main-panel';
  column-gap: 2rem;

  padding: 2rem;
  overflow: hidden;
}

.mainPanels {
  @include clamp;
  grid-area: main-panel;
  display: grid;
  grid-template-rows: 1fr 2fr 6fr;
  grid-template-areas: 'master-panel' 'instrument-panel' 'playground';
  row-gap: 1rem;
}

.title {
  color: $text;
}

.heading {
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  color: $text;
}

.selectionPanel {
  @include panel-border;
  @include clamp;
  grid-area: selection-panel;

  border-radius: 5px;
}
